h1 {
text-align:center ;
background-color: aqua;
}
body{
   font-size: large;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   background-color: rgb(194, 137, 117);
}
.imagem{
display: block;
margin-left: auto;
margin-right: auto;
}